<div class="m-body">
  <div class="modal-exit" ng-click="closeModal()"><i class="fa fa-times"></i></div>
  <div class="m-content">
    <h3>Australia - <i>Men</i></h3>
    <div class="">
      <p><b>Nodes:</b> 380</p>
      <p><b>Edges:</b> 529</p>
      <p><b>Density:</b> 0.007346</p>
      <p><b>Betweenness Centrality</b>
        <p class="indent">max: 0.003676</p>
        <p class="indent">avg: 0.000086</p>
      <p><b>Average Clustering Coefficient:</b> 0.497301</p>
    </div>
  </div>
</div>
