<div class="m-body">
  <div class="modal-exit" ng-click="closeModal()"><i class="fa fa-times"></i></div>
  <div class="m-content">
    <h3>Germany - <i>Men</i></h3>
    <div class="">
      <p><b>Nodes:</b> 1943</p>
      <p><b>Edges:</b> 3150</p>
      <p><b>Density:</b> 0.001670</p>
      <p><b>Betweenness Centrality</b>
        <p class="indent">max: 0.079153</p>
        <p class="indent">avg: 0.000753</p>
      <p><b>Average Clustering Coefficient:</b> 0.561445</p>
    </div>
  </div>
</div>
