<div class="m-body">
  <div class="modal-exit" ng-click="closeModal()"><i class="fa fa-times"></i></div>
  <div class="m-content">
    <h3>Germany - <i>Women</i></h3>
    <div class="">
      <p><b>Nodes:</b> 371</p>
      <p><b>Edges:</b> 289</p>
      <p><b>Density:</b> 0.004211</p>
      <p><b>Betweenness Centrality</b>
        <p class="indent">max: 0.002857</p>
        <p class="indent">avg: 0.000048</p>
      <p><b>Average Clustering Coefficient:</b> 0.215544</p>
    </div>
  </div>
</div>
