<div class="m-body">
  <div class="modal-exit" ng-click="closeModal()"><i class="fa fa-times"></i></div>
  <div class="m-content">
    <h3>Sweden - <i>Women</i></h3>
    <div class="">
      <p><b>Nodes:</b> 115</p>
      <p><b>Edges:</b> 91</p>
      <p><b>Density:</b> 0.013883</p>
      <p><b>Betweenness Centrality</b>
        <p class="indent">max: 0.002329</p>
        <p class="indent">avg: 0.000162</p>
      <p><b>Average Clustering Coefficient:</b>  0.170435</p>
    </div>
  </div>
</div>
